:root {
  --mainYellow: #fcc709;
  /* --mainYellow: #fdc006; */
  --mainGray: #141615;
  --secYellow: #fcc709;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  background: black;
}
